@import '@aws-amplify/ui-react/styles.css';

/* coolors: https://coolors.co/ */
/* --platinum: #eaeaea;
--byzantium: #893168; 
--violet-jtc: #4a1942;
--dark-purple: #2e1c2b;
--black: #050404ff; */

.body-container {
  margin: 100px 50px 25px 50px;
}
.header-container {
  margin: 0;
  padding: 10px;
  background-color: #EAEAEA;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.footer-container {
  margin: 0;
  padding: 10px;
  background-color: #2E1C2B;
  text-align: right;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
ul.navbar > li {
  float: right;
  width: 100px;
  text-decoration: none;
}
.legal {
  font-size: smaller;
  display: inline-block;
  color: #9C9990
}
h1.amplify-heading--1 {
  margin-bottom: 20px;
  color: #4A1942;
}
div.amplify-alert {
  margin: 5px;
}
button.signout {
  margin: 10px;
  padding: 5px 10px 8px 10px;
  font-weight:600;
  background-color: #4A1942;
  border: 1px solid;
  border-radius: 5px;
  color: #EAEAEA;
}

/* TABS */
button.amplify-tabs-item {
  color: #9C9990;
  font-weight: normal;
}
button.amplify-tabs-item:hover {
  color: #893168;
  font-weight: normal;
}
button.amplify-tabs-item[data-state=active] {
  color: #2E1C2B;
  border-color: #2E1C2B;
  font-weight: 600;
}

button.amplify-button--primary {
  background-color: #2E1C2B;
}